@{
    ViewBag.Title = "Información";
}
<body style="background-color: black;">
    <div class="jumbotron" style="background-image:url(http://dissenyaweb.com/blog/diseno_web/wp-content/uploads/abstract_background_red.jpg)">
        <img src="~/Imagenes/Fondo7.png" width="1050" height="350" />

    </div>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address style="color:grey;">
        Renato José Cabrera Figueroa<br />
        Carnet: 1010617 <br />
        José Carlos Herrera Franco<br />
        Carnet: 1007217

    </address>

    <address style="color:grey;">
        <strong>Contacto de Renato:</strong>   <a href="mailto:renatojose98@yahoo.com">renatojose98@yahoo.com</a><br />
        <strong>Contacto de José Carlos:</strong> <a href="mailto:jcherrera98@hotmail.com">jcherrera98@hotmail.com</a>
    </address>
    </body>
