@{
    ViewBag.Title = "Guaflix";
    
}
<body style="background-image:url(../../Imagenes/fondo11.jpg)">
    <div class="jumbotron" style="background-image:url(http://dissenyaweb.com/blog/diseno_web/wp-content/uploads/abstract_background_red.jpg)">
        <img src="~/Imagenes/Fondo7.png" width="1050" height="350" />

    </div>

    <div class="row" style="background-color:black;">
        <img src="~/Imagenes/Fondo8.jpg" width="500" height="500"/>
        <div class="col-md-4" style="color:grey;">
            <h2>Comienza</h2>
            <p>
                Ve películas y programas de TV cuando y donde quieras, personalizados para ti.
            </p>
            <p><a href="~/Login/Login" class="btn btn-primary btn-lg">¡Ingresa Ya! &raquo;</a></p>

        </div>
        <img src="~/Imagenes/Fondo9.jpg" width="500" height="500" />
        <div class="col-md-4" style="color:grey;">
            <h2>Una nueva experiencia</h2>
            <p>Disponible en tu teléfono o tablet, vayas donde vayas.</p>
            <p><a href="~/Home/Contact" class="btn btn-primary btn-lg">Información &raquo;</a></p>

        </div>
        <img src="~/Imagenes/Fondo10.jpg" width="500" height="500" />
        <div class="col-md-4" style="color:grey;">
            <h2>Todo lo que buscas</h2>
            <p>Peliculas, series y documentales, tanto live action como animados.</p>
            <p><a href="http://principal.url.edu.gt/" class="btn btn-primary btn-lg">¡Califícanos! &raquo;</a></p>

        </div>
        
    </div>
</body>