
@{
    ViewBag.Title = "Login";
}


<body style="background-image:url(../../Imagenes/Fondo2.jpg)">
    <div><img src="~/Imagenes/Fondo7.png" width="1050" height="350" /></div>
    <h1>Registrate</h1>
    <h2>Si aun no creas sesión, este es el momento de hacerlo, recuerda colocar tus datos correctos</h2>
</body>
